/*var*/
:root {
    /*colors*/
    --main-bg-color: lightgray;
    --main-accent-color: #3bf282;
    --main-hover-color: #22bfbf;
    /*text*/
    --main-text-second: #999999;
    --main-text-hover: #ffffff;
}

/*normalise*/
html {
    font-family: SansSerif, sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/*base style*/
body{
    background: var(--main-bg-color);
}

#wrapper{
    width: 80%;
    margin: auto;
    padding: 20px;
}

.content {
    width: 100%;
    font-size: 30px;
    margin: auto;
    padding-bottom: 25px;
    text-align: center;
}

.hidden{
    display: none;
}


.footer{
    margin-bottom: 0;
    position:fixed;
    left:0px;
    bottom:0px;
    height:25px;
    width:100%;
    font-size: 10px;
    color: var(--main-text-second);
}